.hyper-md-container textarea {
  opacity: 0;
}

.cm-s-vscode-dark.CodeMirror {
  height: 100%;

  padding: 16px;

  border-radius: 4px;
}

.CodeMirror-placeholder {
  opacity: 0.5;
}

.CodeMirror pre.HyperMD-header {
  padding-bottom: 0.5rem;
}

.HyperMD-header > span[role='presentation'] {
  display: flex;
  border-bottom: 1px solid #ffffff1f;
}

.cm-header-1 {
  font-size: 2.5rem;
}

.cm-header-2 {
  font-size: 1.75rem;
}

.cm-header-3 {
  font-size: 1.25rem;
}
