.portfolio h2 {
  max-width: 22ch;

  margin-bottom: 12px;
}

.portfolio .card .background img {
  height: 100%;
  min-height: 100%;
  max-height: 604px;
  width: auto;

  margin-top: -4px;
}

@media (max-width: 820px) {
  .portfolio > .row {
    flex-wrap: wrap;
  }
}
