.cms-page .content {
  display: flex;
  flex-flow: column;
  gap: 24px;

  margin-top: 24px;
  margin-bottom: 72px;
}

.cms-page .content h1 {
  font-size: 5rem;

  max-width: 10ch;

  margin-bottom: 24px;
}

.cms-page p > img {
  width: 100%;
}

.cms-page .hyper-md-container {
  height: 430px;
}

.paper {
  display: flex;
  flex-flow: column;

  border-radius: 8px;

  padding: 32px 48px;

  background-color: rgba(45, 52, 63, 0.4);
}

.articles-list li {
  list-style-type: disclosure-closed;

  margin-bottom: 8px;
  margin-left: 18px;
}

.paper .form-input:not(:focus-within) > span {
  opacity: 0.5;
}

.paper .form-input span {
  top: 4px;
  left: 0;
}

.paper .form-input:focus-within span,
.paper .form-input:has(input:not([data-value=''])) span {
  top: -16px;
}

.paper .form-input > input {
  background: transparent;

  padding: 4px 0;

  outline: none;
  border: none;
}

.paper .language-menu-list {
  justify-content: flex-start;
  margin-top: 12px;
}

.paper label.language-input-label > span {
  font-size: 1rem;
}

.paper label.language-input-label a {
  cursor: pointer;
}

.paper label.language-input-label li[aria-selected='false'] {
  opacity: 0.5;
}

.paper label.language-input-label li[aria-selected='true'] a {
  border: none;
}

.paper:first-child {
  flex: 1;
}

.paper:nth-child(2) {
  width: 260px;

  padding: 32px 24px;
}

.expand-button.delete {
  color: #ff5555;
}

.expand-button.delete:hover {
  color: white;

  background-color: #ff5555;
}

@media (max-width: 500px) {
  .cms-page .content h1 {
    font-size: 2.25rem;
  }

  .cms-page > .content > .row {
    flex-wrap: wrap-reverse;

    width: 100%;
  }

  .cms-page > .content > .row header .row:first-of-type {
    flex-flow: column;
  }

  .cms-page > .content > .row header .row:first-of-type button {
    align-self: flex-start;
  }

  .cms-page .content form {
    width: 100%;
    padding: 16px;
  }

  .cms-page .paper:nth-child(2) {
    width: 100%;
  }
}
