button.link {
  border: none;
  border-bottom: 2px solid #5d6c83;

  background-color: transparent;
}

.link {
  display: flex;
  gap: 8px;

  font-size: 1rem;

  letter-spacing: 1px;

  padding-bottom: 2px;

  border-bottom: 2px solid #5d6c83;

  width: fit-content;

  transition: 200ms ease-in-out;

  position: relative;

  cursor: pointer;
}

.link:hover {
  gap: 12px;
}

.link::after {
  content: '';
  background-color: white;

  position: absolute;
  bottom: -2px;

  transition: 300ms ease-in-out;

  height: 2px;
  width: 0;
}

.link.small {
  font-size: 0.875rem;
  height: 24px;
}

.link.large {
  font-size: 1.25rem;
}

.link:hover::after {
  width: 100%;
}

.link[aria-checked='true']::after {
  width: 100%;
}
